<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:de.uni_jena.iaa.linktype.atomic.menus.viewMenu">
         <command
               commandId="de.uni_jena.iaa.linktype.atomic.atomical.openAtomicalConsoleCommand"
               label="AtomicAL Console"
               mnemonic="A"
               style="push">
            <visibleWhen>
            <with variable="activeEditorId">
                     <equals
                           value="de.uni_jena.iaa.linktype.atomic.editors.grapheditor.editor">
                     </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uni_jena.iaa.linktype.atomic.editors.grapheditor.perspective">
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               moveable="true"
               ratio="0.8f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="de.uni_jena.iaa.linktype.atomic.atomical.console.AtomicalConsoleFactory"
            label="New AtomicAL Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.uni_jena.iaa.linktype.atomic.atomical.openAtomicalConsoleCommand"
            name="Open ConsoleView">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uni_jena.iaa.linktype.atomic.atomical.console.OpenAtomicalConsoleHandler"
            commandId="de.uni_jena.iaa.linktype.atomic.atomical.openAtomicalConsoleCommand">
      </handler>
   </extension>

</plugin>
