<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.corpus_tools.atomic.perspectives.navigation">
         <view
               ratio="0.8f"
               moveable="true"
               relative="org.eclipse.ui.editorss"
               closeable="true"
               visible="true"
               id="org.eclipse.ui.console.ConsoleView"
               relationship="bottom">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            label="New AtomicAL Console"
            class="de.uni_jena.iaa.linktype.atomic.atomical.console.AtomicalConsoleFactory">
      </consoleFactory>
   </extension>
   <extension
         id="de.uni_jena.iaa.linktype.atomic.atomical.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
