<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Atomic Target Platform" sequenceNumber="1494399353">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rcp.feature.group" version="4.6.3.v20170301-0400"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.2.203.v20170131-1444"/>
      <unit id="org.eclipse.help.feature.group" version="2.2.2.v20170301-0400"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.6.300.v20161122-1740"/>
      <unit id="org.eclipse.core.runtime" version="3.12.0.v20160606-1342"/>
      <unit id="org.eclipse.ui.workbench" version="3.108.3.v20170216-1539"/>
      <unit id="org.eclipse.ui.navigator" version="3.6.101.v20161006-1120"/>
      <unit id="org.eclipse.ui.ide" version="3.12.3.v20170119-0935"/>
      <unit id="org.eclipse.ui.ide.application" version="1.1.101.v20160829-0827"/>
      <unit id="org.eclipse.ui" version="3.108.1.v20160929-1045"/>
      <unit id="org.eclipse.ui.console" version="3.6.201.v20161107-0337"/>
      <unit id="org.eclipse.core.resources" version="3.11.1.v20161107-2032"/>
      <unit id="org.eclipse.ui.navigator.resources" version="3.5.101.v20161006-0640"/>
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="org.eclipse.emf.common" version="2.12.0.v20160420-0247"/>
      <unit id="org.eclipse.core.databinding" version="1.6.0.v20160412-0910"/>
      <unit id="org.eclipse.core.databinding.beans" version="1.3.100.v20160509-1025"/>
      <unit id="org.eclipse.core.databinding.observable" version="1.6.0.v20160511-1747"/>
      <unit id="org.eclipse.core.databinding.property" version="1.6.0.v20160427-0852"/>
      <unit id="org.eclipse.jface.databinding" version="1.8.1.v20161026-1531"/>
      <unit id="com.ibm.icu" version="56.1.0.v201601250100"/>
      <unit id="org.eclipse.help" version="3.7.0.v20160602-1307"/>
      <unit id="com.google.guava" version="18.0.0.v20161115-1643"/>
      <unit id="org.eclipse.osgi.services" version="3.5.100.v20160504-1419"/>
      <unit id="org.eclipse.osgi.util" version="3.3.100.v20150423-1351"/>
      <unit id="org.eclipse.osgi" version="3.11.3.v20170209-1843"/>
      <unit id="org.eclipse.aether.maven" version="3.1.0.v20140706-2237"/>
      <repository location="http://download.eclipse.org/releases/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core" version="1.5.0.201703192131"/>
      <repository location="http://download.eclipse.org/nattable/releases/1.5.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.lmax.disruptor" version="3.3.2"/>
      <unit id="net.sdruskat.fragment.sun.misc" version="1.0.0"/>
      <unit id="org.corpus-tools.salt-api" version="3.3.1"/>
      <unit id="org.corpus-tools.pepper-framework" version="3.1.0"/>
      <unit id="org.corpus-tools.pepper-lib" version="3.1.0"/>
      <unit id="org.apache.commons.io" version="2.4.0"/>
      <unit id="org.codehaus.plexus.utils" version="3.0.20"/>
      <unit id="org.eclipse.aether.api" version="1.0.2.v20150114"/>
      <unit id="org.eclipse.aether.connector.basic" version="1.0.2.v20150114"/>
      <unit id="org.eclipse.aether.impl" version="1.0.2.v20150114"/>
      <unit id="org.eclipse.aether.spi" version="1.0.2.v20150114"/>
      <unit id="org.eclipse.aether.transport.file" version="1.0.2.v20150114"/>
      <unit id="org.eclipse.aether.transport.http" version="1.0.2.v20150114"/>
      <unit id="org.eclipse.aether.util" version="1.0.2.v20150114"/>
      <unit id="com.github.hazendaz.javabean-tester" version="1.4.0"/>
      <unit id="org.antlr.antlr4-runtime" version="4.6.0"/>
      <unit id="org.corpus-tools.graphannis-api" version="0.2.0"/>
      <repository location="http://corpus-tools.org/p2/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.junit4_x" version="2.5.0.201609021837"/>
      <unit id="org.eclipse.swtbot.eclipse.finder" version="2.5.0.201609021837"/>
      <unit id="org.eclipse.swtbot.go" version="2.5.0.201609021837"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/2.5.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.tools.spy" version="0.18.0.v20160520-1109"/>
      <unit id="org.eclipse.e4.tools.model.spy" version="0.12.0.v20160114-2207"/>
      <repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
    </location>
  </locations>
</target>
