<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.corpus_tools.atomic.processingComponents.custom" name="Custom processing components for corpora" schema="schema/org.corpus_tools.atomic.processingComponents.custom.exsd"/>
   <extension-point id="org.corpus_tools.atomic.processingComponents.tokenizers" name="Tokenizer components for corpora" schema="schema/org.corpus_tools.atomic.processingComponents.tokenizers.exsd"/>

   <extension
         id="org.corpus_tools.atomic.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.corpus_tools.atomic.Atomic">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.corpus_tools.atomic.application"
            description="An extensible OS-independent multi-level annotation platform for linguistic corpora"
            name="Atomic">
         <property
               name="appName"
               value="Atomic">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.corpus_tools.atomic.menus.file"
               label="File"
               mnemonic="F"
               tooltip="The File menu provides access to basic application funtionalities">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New Project"
                  mnemonic="P"
                  style="push">
            </command>
            <command
                  commandId="org.corpus_tools.atomic.commands.switchWorkspace"
                  label="Switch Workspace"
                  mnemonic="W"
                  style="push">
            </command>
            <command
                  commandId="org.corpus_tools.atomic.commands.exit"
                  label="Exit"
                  mnemonic="x"
                  style="push"
                  tooltip="Closes the workbench and quits Atomic">
            </command>
         </menu>
         <menu
               id="org.corpus_tools.atomic.menus.help"
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  label="Help Contents"
                  mnemonic="H"
                  style="push">
            </command>
            <menu
                  id="org.corpus_tools.atomic.menus.help.updates"
                  label="Updates"
                  mnemonic="U"
                  tooltip="Provides a menu for updating Atomic or parts of it.">
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.corpus_tools.atomic.AtomicNewWizardCategory"
            name="Atomic">
      </category>
      <primaryWizard
            id="org.corpus_tools.atomic.newAtomicProjectWizard">
      </primaryWizard>
      <wizard
            canFinishEarly="false"
            category="org.corpus_tools.atomic.AtomicNewWizardCategory"
            class="org.corpus_tools.atomic.projects.wizard.NewAtomicProjectWizard"
            icon="icons/obj16/atomic.png"
            id="org.corpus_tools.atomic.newAtomicProjectWizard"
            name="New Atomic Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.corpus_tools.atomic.commands.ExitHandler"
            description="Exits Atomic"
            id="org.corpus_tools.atomic.commands.exit"
            name="Exit Command">
      </command>
      <command
            defaultHandler="org.corpus_tools.atomic.commands.SwitchWorkspaceHandler"
            description="Allows the user to switch workspaces"
            id="org.corpus_tools.atomic.commands.switchWorkspace"
            name="Switch Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.corpus_tools.atomic.commands.exit"
            schemeId="org.corpus_tools.atomic.keyscheme"
            sequence="M1+Q">
      </key>
      <scheme
            id="org.corpus_tools.atomic.keyscheme"
            name="Atomic Key Binding Scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="org.corpus_tools.atomic.commands.switchWorkspace"
            schemeId="org.corpus_tools.atomic.keyscheme"
            sequence="M3+M2+W">
      </key>
      <key
            commandId="org.eclipse.ui.newWizard"
            schemeId="org.corpus_tools.atomic.keyscheme"
            sequence="M1+N">
      </key>
      <key
            commandId="org.eclipse.ui.help.displayHelp"
            schemeId="org.corpus_tools.atomic.keyscheme"
            sequence="F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.corpus_tools.atomic.views.navigation">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.corpus_tools.atomic.views.navigation">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.corpus_tools.atomic.ui.NavigationPerspective"
            id="org.corpus_tools.atomic.perspectives.navigation"
            name="Navigation Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.corpus_tools.atomic.perspectives.navigation">
         <view
               closeable="true"
               id="org.corpus_tools.atomic.views.navigation"
               minimized="false"
               moveable="true"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.corpus_tools.atomic.ui.AtomicSplashHandler"
            id="org.corpus_tools.atomic.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.corpus_tools.atomic.product"
            splashId="org.corpus_tools.atomic.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Helps hiding unwanted UI elements by binding them to itself."
            id="org.corpus_tools.atomic.activity.doNotUse"
            name="UI element hider activity">
      </activity>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.project">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.file">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.folder">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.editors.wizards.UntitledTextFileWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.team.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.edit.text.gotoNextAnnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.edit.text.gotoPreviousAnnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.edit.text.gotoLastEditPosition">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.search.TextSearchFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.search.OpenFileSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.search.TextSearchProject">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.search.TextSearchWorkspace">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.search.TextSearchWorkingSet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.search.internal.ui.text.TextSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.views.ResourceNavigator">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.views.BookmarkView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.views.TaskList">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.views.ProblemView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.views.AllMarkersView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.search.SearchResultView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.search.ui.views.SearchView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.views.PropertySheet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.views.ContentOutline">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.navigator.ProjectExplorer">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.debug.ui.DebugPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.debug.ui.BreakpointView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.debug.ui.DebugView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.debug.ui.ExpressionView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.debug.ui.MemoryView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.debug.ui.ModuleView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.debug.ui.RegisterView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.debug.ui.VariableView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.console.ConsoleView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.internal.introview">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.wst.xml.ui.perspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern="org.eclipse.debug.*/org.eclipse.debug.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.preferencePages.Workspace">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.wst.xml.ui.preferences.xml">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.wst.xml.ui.XMLExampleProjectCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.wst.html.ui.internal.wizard.NewHTMLWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.jdt.ui.JavaPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.jdt.ui.JavaHierarchyPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.jdt.ui.JavaBrowsingPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.pde.ui.PDEPerspective">
	  </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.wizards.import.*">
	  </activityPatternBinding>
      <activityPatternBinding
            activityId="org.corpus_tools.atomic.activity.doNotUse"
            pattern=".*/org.eclipse.ui.wizards.export.*">
	  </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="doc/help/index.xml">
      </index>
   </extension>
   
      <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.corpus_tools.atomic.AtomicImportWizardCategory"
            name="Atomic">
      </category>
      <wizard
            category="org.corpus_tools.atomic.AtomicImportWizardCategory"
            class="org.corpus_tools.atomic.projects.pepper.wizard.importwizard.PepperImportWizard"
            icon="icons/obj16/pepper16.png"
            id="org.corpus_tools.atomic.importPepperWizard"
            name="Corpus Import">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.corpus_tools.atomic.menus.help.updates">
         <command
               commandId="org.corpus_tools.atomic.pepper.updateCommand"
               label="Update Pepper"
               mnemonic="P"
               style="push"
               tooltip="Updates Pepper and its modules">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.corpus_tools.atomic.projects.pepper.update.PepperUpdateHandler"
            id="org.corpus_tools.atomic.pepper.updateCommand"
            name="Update Pepper">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress"
            restorable="true">
      </view>
            <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.corpus_tools.atomic.views.navigation"
            name="Navigation"
            restorable="true">
      </view>
   </extension>

</plugin>
