<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.corpus_tools.atomic.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.corpus_tools.atomic.Atomic">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.corpus_tools.atomic.application"
            description="An extensible OS-independent multi-level annotation platform for linguistic corpora"
            name="Atomic">
         <property
               name="appName"
               value="Atomic">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.corpus_tools.atomic.menus.file"
               label="File"
               mnemonic="F"
               tooltip="The File menu provides access to basic application funtionalities">
            <command
                  commandId="org.corpus_tools.atomic.commands.switchWorkspace"
                  label="Switch Workspace"
                  mnemonic="W"
                  style="push">
            </command>
            <command
                  commandId="org.corpus_tools.atomic.commands.exit"
                  label="Exit"
                  mnemonic="x"
                  style="push"
                  tooltip="Closes the workbench and quits Atomic">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.corpus_tools.atomic.commands.ExitHandler"
            description="Exits Atomic"
            id="org.corpus_tools.atomic.commands.exit"
            name="Exit Command">
      </command>
      <command
            defaultHandler="org.corpus_tools.atomic.commands.SwitchWorkspaceHandler"
            description="Allows the user to switch workspaces"
            id="org.corpus_tools.atomic.commands.switchWorkspace"
            name="Switch Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.corpus_tools.atomic.commands.exit"
            schemeId="org.corpus_tools.atomic.keyscheme"
            sequence="M1+Q">
      </key>
      <scheme
            id="org.corpus_tools.atomic.keyscheme"
            name="Atomic Key Binding Scheme">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.corpus_tools.atomic.views.navigation"
            name="Navigation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.corpus_tools.atomic.views.navigation">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.corpus_tools.atomic.views.navigation">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.corpus_tools.atomic.ui.NavigationPerspective"
            id="org.corpus_tools.atomic.perspectives.navigation"
            name="Navigation Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.corpus_tools.atomic.perspectives.navigation">
         <view
               closeable="true"
               id="org.corpus_tools.atomic.views.navigation"
               minimized="false"
               moveable="true"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.corpus_tools.atomic.ui.AtomicSplashHandler"
            id="org.corpus_tools.atomic.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.corpus_tools.atomic.product"
            splashId="org.corpus_tools.atomic.splashHandler">
      </splashHandlerProductBinding>
   </extension>

</plugin>
