<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="atomic-mars" sequenceNumber="15">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.sdruskat.fragment.sun.misc" version="1.0.0"/>
<unit id="com.lmax.disruptor.osgi" version="3.3.2"/>
<repository location="file:/home/stephan/git/deps-p2/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.5.1.v20150904-0015"/>
<unit id="org.eclipse.rcp.feature.group" version="4.5.1.v20150904-0015"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
</locations>
</target>
