<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Grid Editor"
            extensions="salt"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.corpus_tools.atomic.grideditor.GridEditor"
            id="org.corpus_tools.atomic.grideditor.GridEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.corpus_tools.atomic.grideditor.commands.newAnnotationColumn"
            name="New Annotation Column Command">
      </command>
      <command
            id="org.corpus_tools.atomic.grideditor.commands.createSpan"
            name="Create Span Command">
      </command>
      <command
            id="org.corpus_tools.atomic.grideditor.commands.deleteClickedSpanAnnotation"
            name="Delete Clicked Span Annotation Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.corpus_tools.atomic.grideditor.commands.NewAnnotationColumnHandler"
            commandId="org.corpus_tools.atomic.grideditor.commands.newAnnotationColumn">
      </handler>
      <handler
            class="org.corpus_tools.atomic.grideditor.commands.CreateSpanHandler"
            commandId="org.corpus_tools.atomic.grideditor.commands.createSpan">
      </handler>
      <handler
            class="org.corpus_tools.atomic.grideditor.commands.DeleteClickedSpanAnnotationHandler"
            commandId="org.corpus_tools.atomic.grideditor.commands.deleteClickedSpanAnnotation">
      </handler>
   </extension>

</plugin>
