<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="de.uni_jena.iaa.linktype.atomic.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.uni_jena.iaa.linktype.atomic.Atomic">
         </run>
      </application>
   </extension>
   <extension
         id="de.uni_jena.iaa.linktype.atomic.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.uni_jena.iaa.linktype.atomic.application"
            description="An extensible OS-independent multi-level annotation platform for linguistic corpora"
            name="Atomic">
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.uni_jena.iaa.linktype.atomic.application"
            name="Atomic">
         <property
               name="appName"
               value="Atomic">
         </property>
      </product>
   </extension>

</plugin>
