<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:de.uni_jena.iaa.linktype.atomic.menus.viewMenu">
         <command
               commandId="org.eclipse.ui.views.showView"
               label="AtomicAL Console"
               mnemonic="A"
               style="push">
                <parameter
				name="org.eclipse.ui.views.showView.viewId"
				value="org.eclipse.ui.console.ConsoleView">
</parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
