<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uni_jena.iaa.linktype.atomic.views.sentenceview.SentenceView"
            id="de.uni_jena.iaa.linktype.atomic.views.sentenceview"
            name="Sentence View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:de.uni_jena.iaa.linktype.atomic.menus.viewMenu">
         <command
               commandId="org.eclipse.ui.views.showView"
               label="Sentence View"
               mnemonic="S"
               style="push"
               tooltip="Opens the Sentence View">
               <parameter name="org.eclipse.ui.views.showView.viewId"
					value="de.uni_jena.iaa.linktype.atomic.views.sentenceview"/>
					<visibleWhen>
            <with variable="activeEditorId">
                     <equals
                           value="de.uni_jena.iaa.linktype.atomic.editors.grapheditor.editor">
                     </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.closePart"
            contextId="de.uni_jena.iaa.linktype.atomic.core.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+W">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uni_jena.iaa.linktype.atomic.editors.grapheditor.perspective">
         <view
               closeable="true"
               id="de.uni_jena.iaa.linktype.atomic.views.sentenceview"
               minimized="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
