<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.uni_jena.iaa.linktype.atomic.product"
            application="de.uni_jena.iaa.linktype.atomic.product">
         <property
               name="applicationCSS"
               value="platform:/plugin/de.uni_jena.iaa.linktype.atomic.product/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
