<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Salt visualizer"
            extensions="salt"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.corpus_tools.atomic.visjs.editors.SaltVisualizer"
            id="org.corpus_tools.atomic.visjs.editors.SaltVisualizer">
      </editor>
   </extension>

</plugin>
