<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uni_jena.iaa.linktype.atomic.model.salt.editor.AtomicSaltEditor"
            contributorClass="de.uni_jena.iaa.linktype.atomic.model.salt.editor.AtomicActionBarContributor"
            default="true"
            extensions="salt"
            id="de.uni_jena.iaa.linktype.atomic.model.salt.editor.editor"
            name="Atomic Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uni_jena.iaa.linktype.atomic.core.perspective">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.8f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.internal.console.ConsoleView"
            id="org.eclipse.ui.console.ConsoleView"
            name="Atomic Console View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="de.uni_jena.iaa.linktype.atomic.model.salt.editor.console.AtomicALConsoleFactory"
            label="AtomicAL Console">
      </consoleFactory>
   </extension>

</plugin>
