<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Grid Editor"
            extensions="salt"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.corpus_tools.atomic.grideditor.GridEditor"
            id="org.corpus_tools.atomic.grideditor.GridEditor">
      </editor>
   </extension>

</plugin>
